body{
font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}
/* Form login */
.wrapp-form {
    margin-top: 89px;
    padding: 119px;
    box-shadow: 1px 1px 5px 0px #b2b2b2;
}

/* Menu*/
.container-fluid.main {
    border-bottom: 1px solid #d06e62;
}
.wrapp-conten {
    margin-top: 10px;
    padding-bottom: 5px;
}
.wrapp-conten p{
    padding-left: 16px;
    margin-top:10px;
    margin-bottom: 8px;
    color: #292b2c;
}

h4.menu-h4 {
       margin-top: 18px;
       border-left: 3px solid #d06e62;
       font-weight: bold;
       padding: 12px;
       margin-left: 12px;
       font-size: 28px;
}
h4.menu {
    margin-top: 29px;
    font-size: 19px;
}
a h4.menu {
    text-decoration: underline;
    color: #0000EE;
    font-weight: bold;
}

p.icon:after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 0 0 16px;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.row.content {
    margin-left: 23px;
}

/* menu left*/
ul.menu-right {
   font-size: 18px;
   text-decoration: underline;
   list-style-type: none;
   margin-left: 29px;
   line-height: 2;
   font-weight: 500;
}
ul.menu-right a {
    color: #0000EE;
}

/*Button style*/
.btnstyle {
    float: right;
    background: #D0D0D0;
    border: none;
    width: 150px;
    border-radius: 0px;
}
.btnstyle.btn.btn-primary:hover {
    background: #a4a4a4;
    cursor:pointer;
}
/*Page 03*/
.header-table {
    background: #ffc800;
}
.align-sm-2 .col-sm-2 {
    margin-left: 50px;
}
.col-sm-12.table-content {
    padding-left: 66px;
}
.btn-default.date-picker {
    color: #000;
    background-color: #a6a6a6;
    border-color: #b0b0b0;
    border-radius: 0px;
    margin-left: -26px;
    font-size: 14px;
    width: 80px;
}
.date-picker h4 {
    font-size: 22px;
    font-weight: bold;
    margin-left: 48px;
}
input.form-control.date-picker {
    border-radius: 0px;
}
span.input-group-addon.date-picker {
    border-radius: 0px;
}
/* Page 04 */
hr.hr {
    border-top: 1px solid #d06e62;
}
.table.table-bordered.deliver tbody>tr>td {
    /* background: red; */
    text-align: right;
}
.deliver h4 {
    font-weight: bold;
    font-size: 28px;
}
/* 06 */
.btn-default.default {
    margin-bottom: 6px;
    float:right;
    margin-left:10px;
    color: #333;
    font-size: 17px;
    font-weight: bold;
    width: 90px;
    border-radius: 0px;
    background-color: #CECECE;
    border-color: #ccc;
}
.btn-default.default:hover {
    background: #999;
}
.table-title h4 {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 2px;
}
.td-color-pink{
    text-align:right;
    background:#F4CCCC;
}
.td-color-black{
    background:#000000;
    color:white;
}
.td-color-yello{
    text-align:right;
    background:#FFFF00;
}
.td-color-brown{
    text-align:right;
    background:#D9EAD3;
}
.td-color-gray {
    text-align:right;
    background: #B7B7B7;
}
.td-color-pick{
    background:#F7EAE8;
}
.td-color-picker{
    background:#EED1CE;
}
.th-color-orange {
    background:#D15A3E;
    color:white;
}
.text-align-left{
 text-align:left;
}
.text-align-right{
 text-align:right;
}
.text-align-center{
 text-align:center;
}
.row.wrapper-row {
    margin-left: 2px;
}
/* 07 */
.btn-default.in-button {
    background: #cecece;
    border-radius: 0px;
    width: 97px;
    padding-bottom: 0px;
    /* margin: 0; */
}
.border-white.table-bordered>tbody>tr>td{
    border:1px solid white;
}
/* 08 */
.wrapper-box {
    border: 1px solid gray;
    height: 300px;
    margin-left: 88px;
    margin-top: 16px;
}
